@import '../../fonts.scss';



.city-hover:hover {
    transition: .5s;
    .city__delete {
        opacity: 100;
    } 
}
.city {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    width: 400px;
    padding: 20px;
    margin: 40px 0 0 0;
    transition: .5s;
    .city__delete{
        transition: .2s;
        opacity: 0;
        position: absolute;
        left: 211px;
        top: 10px;
        height: 24px;
        cursor: pointer;
        & a {
            margin: 0 auto;
        }
    }
    .city__title {
        width: 70%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        .__name {
            @extend %cityName;
        }
        .__update, .__description {
            @extend %descrptFont;
        }
    }
    .city__icon {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .city__info {
        width: 100%;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        & div {
            display: flex;
            flex-flow: column;
            align-items: center;
            & span {
                font-size: 22px;
                @extend %cityName;
            }
        }
        @extend %descrptFont;
    }
    @extend %inputStyle;
}

.choiced-for-delete {
    animation: choicedForDeleteDiv 1s ease 0s infinite;
    
}

@keyframes choicedForDeleteDiv {
    0% {
        transform: rotate(1deg);
        background-color: rgba(119, 119, 119, 0.25);
        transition: .5s;
    }

    50% {
        transform: rotate(-1deg);
        background-color: rgba(119, 119, 119, 0.25);
        transition: .5s;
    }

    100% {
        transform: rotate(1deg);
        background-color: rgba(119, 119, 119, 0.25);
        transition: .5s;
    }
}

.choiced-for-delete-icon {
    animation: choicedForDeleteIcon 1s ease 0s infinite;
}
@keyframes choicedForDeleteIcon {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}


@media (max-width: 425px) {

    .city {
        height: 150px;
        width: 330px;
        margin: 30px 0 0 0;
        .city__delete{
            left: 175px;

        }
        .city__icon {
            width: 30%;
        }
        .city__info {
            font-size: 15px;
            & div {
                & span {
                    font-size: 20px;
                    // @extend %cityName;
                }
            }
            // @extend %descrptFont;
        }
        // @extend %inputStyle;
    }

}
@media (max-width: 375px) {

    .city {
        height: 150px;
        width: 280px;
        margin: 20px 0 0 0;
        padding: 10px;
        .city__delete{
            left: 140px;
            top: 5px;
        }
        .city__icon {
            width: 30%;
        }
        .city__info {
            font-size: 15px;
            & div {
                & span {
                    font-size: 19px;
                    // @extend %cityName;
                }
            }
            // @extend %descrptFont;
        }
        // @extend %inputStyle;
    }

}