@import '../../fonts.scss';


.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    .__title {
        text-align: center;
        h1 {

            font-family: $ffJost;
            font-weight: 900;
            font-size: 70px;
            margin: 30px 0 0 0;
            user-select: none;
        }
        h3 {
            margin: 0 0 10px 0;
            @extend %secondFont;
        }
    }
    .__form {
        form {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        input {
            height: 40px;
            width: 500px;
            padding: 15px;
            font-family: $ffExo;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            outline: none;
            border: 3px solid $fontColorDark;
            border-radius: 20px;
        }
        .form__btns {
            width: 500px;
            display: flex;
            flex-flow: row nowrap; 
            button {
                margin: 20px;
                height: 45px;
                width: 250px;
                background: #fff;
                outline: none;
                border: 3px solid $fontColorDark;
                border-radius: 20px;
                transition: .5s;
                @extend %secondFont;
                &:hover {
                    background-color: rgba(119, 119, 119, 0.25);
                    transition: .5s;
                }
            }
        }
    }
}


@media (max-width: 425px) {
    .header {
        .__title {
            h1 {
                font-size: 50px;
            }

        }
        .__form {
            input {
                height: 20px;
                width: 300px;
                font-size: 25px;
                border: 2px solid $fontColorDark;
            }
            .form__btns {
                width: 300px;
                button {
                    height: 35px;
                    width: 250px;
                    border: 2px solid $fontColorDark;
                    margin: 15px;
                }
            }
        }
    }
    
}

@media (max-width: 375px) {
    .header {
        .__title {
            h1 {
                font-size: 40px;
            }

        }
        .__form {
            input {
                height: 20px;
                width: 270px;
                font-size: 20px;
                border: 2px solid $fontColorDark;
            }
            .form__btns {
                width: 270px;
                button {
                    height: 35px;
                    width: 250px;
                    border: 2px solid $fontColorDark;
                    margin: 15px;
                }
            }
        }
    }
    
}