@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,500;1,200&family=Jost:wght@900&display=swap');

$ffExo: 'Exo 2', sans-serif;
$ffJost: 'Jost', sans-serif;

$fontColorDark: #2f2f2f;
%cityName {
    font-family: $ffJost;
    font-weight: 900;
    font-size: 30px;
    color: $fontColorDark;
}
%descrptFont {
    font-family: $ffExo;
    font-weight: 500;
    font-size: 15px;
    color: $fontColorDark;
}

%secondFont {
    font-family: $ffExo;
    font-weight: 500;
    font-size: 25px;
    color: $fontColorDark;
}

%inputStyle {
    outline: none;
    border: 3px solid $fontColorDark;
    border-radius: 20px;
}   