#root {
    margin: 0 auto;
    height: 100vh;
}
html, body {
    margin: 0 auto;
}
.title {
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}